@model DSDD.Automations.Payments.Views.CalloutViewModel;

@{
    Layout = "Shared/_Layout.cshtml";
}

<p>
    @Model.Message
</p>


<a href="javascript:history.back()" class="btn btn-@Model.BackButtonColor d-inline-block mt-2">Zpět</a>