@model DSDD.Automations.Payments.Views.IndexViewModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<form class="card" style="max-width: 20rem" onsubmit="onSubmit(event)">
    <div class="card-body form-group">
        <label for="variable-symbol" class="required">Variabilní symbol</label>
        <input type="number" class="form-control" id="variable-symbol" required min="0" step="1">
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success">Uložit</button>
    </div>
</form>

<hr />

<a href="@Model.SisterAppUrl" class="btn btn-warning">
    Generování reportů
</a>

<script>
    function onSubmit(event) {
        event.preventDefault();

        const numberInput = document.getElementById('variable-symbol').value;
        window.location.href = '/payers/' + numberInput;
    }
</script>