@model DSDD.Automations.Reports.Views.ErrorViewModel

@{
    Layout = "Shared/_Layout.cshtml";
}

<p>
    @Model.Message
</p>


<a href="javascript:history.back()" class="btn btn-danger d-inline-block mt-2">Zpět</a>