@inherits RazorLight.TemplatePage<DSDD.Automations.Payments.Views.Error.ErrorViewModel>

@{
    Layout = "Layout._Layout.cshtml";
}

<p>
    @Model.Message
</p>


<a href="javascript:history.back()" class="btn btn-danger d-inline-block mt-2">Zpět</a>