@inherits RazorLight.TemplatePage<DSDD.Automations.Payments.Views.Index.IndexViewModel>

@{
    Layout = "Layout._Layout.cshtml";
}

<p>
    @Model.Exception.Message
</p>


<a href="javascript:history.back()" class="btn btn-secondary d-inline-block mt-2">Zpět</a>