@inherits DSDD.Automations.Payments.Views.ShimTemplatePage<DSDD.Automations.Payments.Views.ManualPayment.ManualPaymentFormViewModel?>

<form class="card" method="post">
    <div class="card-body">
        <div class="row">
            <div class="col-4 form-group">
                <label for="amount-value" class="required">Částka</label>
                <div class="d-flex align-items-center">
                    <input type="number" class="form-control" id="amount-value" name="AmountCzk" value="@Model?.AmountCzk" required>
                    <span class="px-2">CZK</span>
                </div>
            </div>
            <div class="col-4 form-group">
                <label for="date-time" class="required">Datum a čas</label>
                <input type="datetime-local" class="form-control" id="date-time" name="DateTime" value="@Model?.DateTime.ToString("yyyy-MM-ddTHH:mm:ss.fffZ")" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4 form-group">
                <label for="constant-symbol">Konstantní symbol</label>
                <input type="number" class="form-control" id="constant-symbol" name="ConstantSymbol" min="0" step="0" value="@Model?.ConstantSymbol">
            </div>
            <div class="col-8 form-group">
                <label for="description">Popis platby</label>
                <input type="text" class="form-control" id="description" name="Description" value="@Model?.Description">
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success ml-auto">Uložit</button>
    </div>
</form>