<form class="card" method="POST" action="/reports/member-fees">
    <div class="card-body">
        <h5 class="card-title">Rozpis členských příspěvků</h5>
        <p class="card-text">Vygeneruje XLSX obsahující seznam měsíců a zda pro ně jednotlivý poplatníci měli povinnost příspěvek uhradit a zda jej uhradili.</p>
    </div>

    <div class="card-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
            Stáhnout
        </button>
    </div>
</form>
